# AMPACT Repository Usage Guide

All examples below require the following import, so be sure to run the following cell:

In [1]:
import pandas as pd
# if you're using this code locally, you might need to uncomment the following line:
# import os, sys; sys.path.append(os.path.dirname(os.path.realpath(__file__)))
from script import Score
print('-> Successfully imported Score class.')

-> Successfully imported Score class.

You can import a piece with a filepath or a url. Any symbolic notation filetype that music21 imports is allowed and this includes all the major ones like .mei, .xml, .krn, .midi, etc. Let's import one from the test_files directory in the repo.

In [2]:
# import os, sys; sys.path.append(os.path.dirname(os.path.realpath(__file__)))

piece = Score('./test_files/busnoys.krn')
print(f'-> Successfully imported {piece.metadata["Title"]} by {piece.metadata["Composer"]}.\n')

-> Successfully imported In hydraulis by Busnoys, Antoine.

Run this to see all the public method and properties available on score objects:

In [3]:
print(piece.public)

durations      <class 'method'>
fileExtension  <class 'str'>
fileName       <class 'str'>
functions      <class 'method'>
harmKeys       <class 'method'>
harmonies      <class 'method'>
lyrics         <class 'method'>
mask           <class 'method'>
metadata       <class 'dict'>
midiPitches    <class 'method'>
nmats          <class 'method'>
partNames      <class 'list'>
path           <class 'str'>
pianoRoll      <class 'method'>
sampled        <class 'method'>
score          <class 'music21.stream.base.Score'>

Most of these are methods you can call on the Score object to get back a pandas dataframe (df) containing one type of data. For example, `.durations()` returns a df of the durations of all the notes and rests in the piece, as shown in the cell below. The columns are the names of the different parts in the piece according to the score encoding. We can see that there are four parts, shown as columns. Musical time serves as the index (the left-most numbers) for the rows. They are notated in music21 offsets, which indicate the number of quarter notes since the beginning of the piece. So 0 is the beginning of the piece and the second row of the table (at index 8.0) contains an event in each of the first two columns. The last two columns do not have new events at this moment in the piece so they get filled with placeholder NaNs. Since there are too many rows to show here, pandas shows the first five and the last five, separated by a row of ellipses.

In [4]:
piece.durations()

        Voice  Part_2  Part_3  Part_4
0.0       8.0     8.0    12.0    12.0
8.0       4.0     4.0     NaN     NaN
12.0      4.0     4.0    12.0    12.0
16.0      6.0     6.0     NaN     NaN
22.0      2.0     2.0     NaN     NaN
...       ...     ...     ...     ...
2480.0    6.0     NaN     NaN     4.0
2484.0    NaN     NaN     NaN    24.0
2486.0    2.0     NaN     NaN     NaN
2488.0    8.0     NaN     NaN     NaN
2496.0   12.0    12.0     NaN     NaN

[1059 rows x 4 columns]

The table above gave us the durations of note and rest events, but how do we know if they're notes or rests? We can look at the `.midiPitches()` table to see what notes or rests those durations correspond to. In midi, notes are notated chromatically from 0 to 127 inclusive, where 60 is middle C (C4), 61 is C#/Db, 72 is C5, etc. Since there is no representation of rests in midi, -1s are used for rests.

In [5]:
piece.midiPitches()

        Voice  Part_2  Part_3  Part_4
0.0      62.0    62.0    -1.0    -1.0
8.0      64.0    60.0     NaN     NaN
12.0     65.0    62.0    -1.0    -1.0
16.0     67.0    64.0     NaN     NaN
22.0     65.0    62.0     NaN     NaN
...       ...     ...     ...     ...
2480.0   65.0     NaN     NaN    50.0
2484.0    NaN     NaN     NaN    50.0
2486.0   67.0     NaN     NaN     NaN
2488.0   69.0     NaN     NaN     NaN
2496.0   62.0    57.0     NaN     NaN

[1059 rows x 4 columns]

A "piano roll" representation of the piece is also available as a 128-column table. Each row represents a midi pitch (0-127 inclusive) and the columns correspond to musical time in the piece in the same way as the rows do in the tables above. Rests are not represented here and you can no longer tell which voice is performing any given note. Since there are too many columns to show on screen, pandas prints a summary of the columns showing the first few and the last few, with a column of ellipses in the middle.

In [6]:
piece.pianoRoll()

,0.0,8.0,12.0,16.0,22.0,24.0,28.0,30.0,32.0,34.0,...,2460.0,2464.0,2470.0,2472.0,2476.0,2480.0,2484.0,2486.0,2488.0,2496.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
127,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Extending on the pianoRoll, the `.sampled()` method samples pianoRoll df at regular time intervals. It assumes the beat to be the quarter note and takes `bpm` and `obs` parameters to determine how often to sample the pianoRoll. The equation for the regular time intervals is (60/bpm)/obs. With the default values of 60 and 20 for `bpm` and `obs` respectively, this results in 20 observations per quarter note.

In [7]:
piece.sampled()

,0.00,0.05,0.10,0.15,0.20,0.25,0.30,0.35,0.40,0.45,...,2507.50,2507.55,2507.60,2507.65,2507.70,2507.75,2507.80,2507.85,2507.90,2507.95
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
127,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

As with any of the methods in this repository, you can read the documentation string for more details about this tool with the following command. Simply replace <sampled> with any of the other methods to get their documentation strings instead.

In [8]:
print(piece.sampled.__doc__)

	Sample the score according to bpm, and the desired observations per second, `obs`.

The `.mask()` is an important Score method. It is the python version of the matlab notes2mask function.

In [9]:
piece.mask()

,0.00,0.05,0.10,0.15,0.20,0.25,0.30,0.35,0.40,0.45,...,2507.50,2507.55,2507.60,2507.65,2507.70,2507.75,2507.80,2507.85,2507.90,2507.95
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
127,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
128,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Additional parsing of `.krn` scores is also available. If a **function spine is in the file, you can retrieve its scoretime-aligned values with the `.functions()` method. For non-kern files, or for kern files without a **function spine, this method returns an empty dataframe. Let's look at the `cDataTest.krn` file which has a **functions spine.

In [10]:
piece = Score('./test_files/cDataTest.krn')
piece.functions()

     Function

0.0         T
1.0         T
2.0         T
2.5         T
3.0         T
4.0         T
5.0         T
5.5         T
6.0         T
6.5         T
7.0         T
8.0         T
8.5         T
9.0         T
9.5         T
10.0        T
10.5        T
11.0        T
12.0        T
13.0        T
14.0        T
15.0        T
16.0        T
16.5        T
17.0        P
18.0        P
19.0        P
19.5        P
20.0        D
20.5        D
21.0        T
22.0        T
23.0        T

If a .krn file has a **harm spine, we can similarly retrieve the analyzed harmonies with `piece.harmonies()`. We can also get the prevailing key analysis from the **harm spine (if there is one) with `piece.harmKeys()`. This is a good opportunity to see how we can use some basic pandas methods to join our various tables on their musical time axis. We'll also forward-fill the observations, since the prevailing-key information is very sparse.

In [12]:
piece = Score('./test_files/cDataTest.krn')
functions = piece.functions()
harmonies = piece.harmonies()
keys = piece.harmKeys()
df = pd.concat([keys, harmonies, functions], axis=1).ffill()
df.columns = ['Key', 'Harmony', 'Function']
df

      Key Harmony Function

0.0   *D:       V        T
1.0   *D:       I        T
2.0   *D:       I        T
2.5   *D:       I        T
3.0   *D:       I        T
4.0   *D:       I        T
5.0   *D:       V        T
5.5   *D:       V        T
6.0   *D:       V        T
6.5   *D:       V        T
7.0   *D:       V        T
8.0   *D:     V7b        T
8.5   *D:     V7b        T
9.0   *D:       I        T
9.5   *D:       I        T
10.0  *D:       I        T
10.5  *D:       I        T
11.0  *D:       V        T
12.0  *D:       V        T
13.0  *D:     V7b        T
14.0  *D:     V7b        T
15.0  *D:       I        T
16.0  *D:       I        T
16.5  *D:       I        T
17.0  *D:     iib        P
18.0  *D:     iib        P
19.0  *D:     iib        P
19.5  *D:     iib        P
20.0  *D:       V        D
20.5  *D:       V        D
21.0  *D:       I        T
22.0  *D:       I        T
23.0  *D:       I        T

There's a lot more coming with this repo and with AMPACT in general so stay tuned!